@import '../assets/_variables';

.commentList {
    list-style: none;
    padding: 0;
}

.commentItem {
    @extend %comment-base-style;
    background-color: $color-background-light;
    border-left: 4px solid $color-secondary;
    padding: $spacing-unit 1.5 * $spacing-unit;
    margin-bottom: $spacing-unit;
    @include font-setup(0.9em);
    transition: all 0.2s;

    &:hover {
        background-color: darken($color-background-light, 2%);
    }
}

.commentHeader {
    display: flex;
    align-items: center;
    margin-bottom: 5px;

    strong {
        color: $color-text-main;
        margin-right: 10px;
    }
}

.commentDate {
    @include font-setup(0.8em, 400, #999);
    margin-left: auto;
}

.commentActions {
    display: flex;
    margin-top: 5px;

    button {
        background: none;
        border: 1px solid $color-primary;
        color: $color-primary;
        padding: 4px 8px;
        border-radius: $border-radius-small;
        cursor: pointer;
        @include font-setup(0.8em);
        transition: background-color 0.2s;

        &:hover {
            background-color: lighten($color-primary, 40%);
        }

        &.commentLiked {
            background-color: $color-primary;
            color: $color-white;

            &:hover {
                background-color: darken($color-primary, 5%);
            }
        }
    }
}

.commentEditArea {
    min-height: 50px;
}