@import './assets/_variables';

.app {
    font-family: Arial, sans-serif;
    max-width: $breakpoint-desktop; 
    margin: 0 auto;
    padding: 20px;
}

.postsContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    @media (max-width: $breakpoint-tablet) {
        justify-content: flex-start; 
        padding-left: 10px;
    }
}